<div class='container'>
  <h3>Ask a question!</h3>
  <form action='/questions' method='post'>
    <label for='question'>Title:</label>
      <input type='text' name='question[title]'>
    <label for='question'>Body:</label>
      <input type='text' name='question[body]'>
      <button type='submit'>Ask!</button>

  </form>
</div>
