<div class='container'>
  <h3>Answer a question!</h3>
  <form action='/questions' method='post'>
    <label for='answer'>Body:</label>
      <input type='text' name='answer[body]'>
      <button type='submit'>Reply!</button>

  </form>
</div>
