body {
  margin: 0;
  padding-top: 50px;
}
nav {
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #422E39;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
  border-right: 1px solid #fff;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#logo {
  color: #fff;
  float: left;
  padding: 14px 16px;
  display: block;
}
